<nav>
  <a routerLink="/">Cine</a>
    @if (auth.logueado()) {
    <a routerLink="/cliente">Mi perfil</a>
    @if (auth.rol() === 'empleado' || auth.rol() === 'admin') {
    <a routerLink="/empleado">Validar</a>
    }
    @if (auth.rol() === 'admin') {
      <a routerLink="/admin/peliculas">Películas</a>
      <a routerLink="/admin/usuarios">Usuarios</a>
      <a routerLink="/admin/salas">Salas</a>
      <a routerLink="/admin/funciones">Funciones</a>
      <a routerLink="/admin/candy/productos">Candy</a>
      <a routerLink="/admin/combos">Combos</a>
      <a routerLink="/admin/cupones">Cupones</a>
      <a routerLink="/admin/recompensas">Puntos</a>
    }
    <span>Hola, {{ auth.perfil()?.nombre }}</span>
    <button (click)="salir()">Salir</button>
    } @else {
  <a routerLink="/mi-compra">Buscar mi compra</a>
  <a routerLink="/login">Ingresar</a>
  <a routerLink="/registro">Registrarme</a>
  }
</nav>

<router-outlet />